body {
background-color: #F6F6F6;

}

#title {
  text-align: center;
  color: #334F8E;

}

h1 {
    color: #E10832;

}

img {

    max-width: 100%;
    max-height: 50%;
    margin: auto;
    overflow: auto;

}